<div>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close" ng-click="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Edit Loan</h4>
	</div>
	<div class="modal-body">
		<p>Borrower:</p>
		<p>
			<input class="form-control" type="text" ng-model="loan.borrower.name"
				disabled>
		</p>
		<p>Book:</p>
		<p>
			<input class="form-control" type="text"
				ng-model="loan.book.description" disabled>
		</p>
		<p>Branch:</p>
		<p>
			<input class="form-control" type="text"
				ng-model="loan.branch.branchName" disabled>
		</p>
		<p>Date Due:</p>
		<p>
			<input class="form-control" type="text" ng-model="loan.dateDue">
		</p>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="closeModal()">Close</button>
		<button type="button" class="btn btn-primary" ng-click=saveLoan()>Save</button>
	</div>
</div>