<ol class="breadcrumb">
	<li><a href="#/home">Home</a></li>
	<li><a href="#/admin">Administrator</a></li>
	<li class="active">Loan Management</li>
</ol>
<div class="container" ng-controller="loanController">
	<div>
		<div class="page-header">
			<h1>List of Active Loans in LMS</h1>
		</div>
		<nav aria-label="Page navigation">
			<ul class="pagination" id="pagination">

			</ul>
		</nav>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Borrower</th>
					<th>Book</th>
					<th>Branch</th>
					<th>Date Out</th>
					<th>Due Date</th>
					<th>Actions</th>
					<!-- <th>Delete</th> -->
				</tr>
			</thead>
			<tbody id="tableLoan">
				<tr
					ng-repeat="l in loans | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
					<td>{{$index+1+(pagination.page*pagination.perPage)}}</td>
					<td>{{l.borrower.name}}</td>
					<td>{{l.book.description}}</td>
					<td>{{l.branch.branchName}}</td>
					<td>{{l.dateOut.substring(0, 10)}}</td>
					<td>{{l.dateDue}}</td>
					<td><button type="button" class="btn btn-primary"
							ng-click="showUpdateLoanModal(l)">Update</button>
						<button type="button" class="btn btn-danger"
							ng-click="closeLoan(l)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal fade bs-example-modal-lg" id="loanModal"
		modal="loanModal" tabindex="-1" role="dialog"
		aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div ng-include="'adminLoanModal.html'"></div>
			</div>
		</div>
	</div>
</div>