<div ng-controller="clientController">
	<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li><a href="#/borrower">Borrower Login</a></li>
		<li class="active">{{getBorrowerName()}}'s Homepage</li>
	</ol>
	<div class="container">
		<button type="button" class="btn btn-success"
			ng-click="borrowBookModal()">Borrow a New Book from
			{{branch.branchName}}, {{branch.branchAddress}}</button>
		<div>
			<div class="page-header">
				<h1>Welcome, {{getBorrowerName()}}</h1>
				<p>Your current active loans:</p>
			</div>
			<nav aria-label="Page navigation">
				<ul class="pagination">
					<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
					<li ng-repeat="n in [] | range: pagination.numPages"
						ng-class="{active: n == pagination.page}"><a href=""
						ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
					<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
				</ul>
			</nav>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Book</th>
						<th>Branch</th>
						<th>Due Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="l in loans | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
						<td>{{l.book.description}}</td>
						<td>{{l.branch.branchName}}</td>
						<td>{{formatDate(l.dateDue)}}</td>
						<td><a type="button" class="{{getClass(l)}}"
							ng-click="closeLoan(l)">Return</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal fade bs-example-modal-lg" id="borrowModal"
			modal="borrowModal" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div ng-include="'borrowerLoanAdd.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>