<div ng-controller="librarianLoginController">
	<ol class="breadcrumb">
		<li><a href="#/home">Home</a></li>
		<li class="active">Librarian Login</li>
	</ol>
	<div class="jumbotron">
		<div class="container">
			<h1>LMS Librarian</h1>
			<p>Welcome to Library Management Panel.</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Select your branch:</h3>
					</div>
					<div class="panel-body">
						<p>
							<select class="form-control" ng-model="branchSelect"
								ng-options="b.branchName for b in allBranches"
								ng-init="branchInit"></select>
						</p>
						<p>
							<button type="button" class="btn btn-success"
								ng-click="authAttempt()">Sign In</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>